# ignore files from operating system
Thumbs.db
.DS_Store

# ignore object files
*.o
*.a
*.x

# ignore executable files
*.elf

# ignore temporary files of editors
*~
.*.swp

# other undesirable files
.directory
.cproject
.project
*.iso
*.orig
